<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931784365143-e5nhsscplk3kr8asp63713eihk620veb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931784365143-e5nhsscplk3kr8asp63713eihk620veb</string>
	<key>API_KEY</key>
	<string>AIzaSyDs5NbNI40klmc7ncq_vWqCzkn4wNOoMiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>931784365143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.tk.Firebase</string>
	<key>PROJECT_ID</key>
	<string>phoneauth-6f738</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauth-6f738.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931784365143:ios:ae6d993a9e2a7087ed3f12</string>
</dict>
</plist>